body
{
	background-color:#ffffff;
	overflow:auto;
	padding-top:0px;
	padding-left:0px;
}

div.fastweb_div_top_frame
{
	margin-top:0px;
	margin-left:0px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	min-width:1400px;
	background-color:#f5f5f5;/*#4a4aff;*/
	
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=##0b51c1,endColorStr=#fafafa); /*IE*/ 
	background:-moz-linear-gradient(top,#0b51c1,#fafafa);/*火狐*/ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#0b51c1), to(#fafafa));/*谷歌*/ 
	background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #0b51c1),color-stop(1, #fafafa));/* Safari & Chrome*/ 
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0b51c1', endColorstr='#fafafa'); /*IE6 & IE7*/ 
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0b51c1', endColorstr='#fafafa')"; /* IE8 */ 
}


div.fastweb_div_top_middle
{
	font:18px "宋体";
	text-align:center;
	width:1300px;
	margin-left:auto;
	margin-right:auto;
	/*background-color:#f5f5f5;/*#4a4aff;*/
	padding-top:16px;
	padding-bottom:16px;
}


div.fastweb_div_frame
{
	margin-top:0px;
	margin-left:0px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	min-width:1400px;
	background-color:#f5f5f5;/*#4a4aff;*/
}


div.fastweb_div_middle
{
	font:18px "宋体";
	text-align:center;
	width:1300px;
	margin-left:auto;
	margin-right:auto;
	/*background-color:#f5f5f5;/*#4a4aff;*/
	padding-top:16px;
	padding-bottom:16px;
	height:auto;
}

div.fastweb_new_module_title{
	overflow : auto;
	font-style : normal;
	background-color :#f5f5f5;
	font-size : 14px;
	font-weight : bold;
	padding: 2px;
	
	background-color:#FFFFFF;
	border:none;
	height:auto;
	line-height:30px;
	vertical-align:middle;
	text-align:left;
}
div.fastweb_new_module_title,div.fastweb_new_module_content{	
	width : 100% - 20px;
	margin-right : 10px;
}
div.fastweb_new_module_content{	
	background-color:#CAE1FF;
	box-shadow:0 0 30px 10px rgba(255,255,255,.5) inset;
	border-radius: 25px;
	text-align:left;
}


div.fastweb_div_dropdown {
  background-color: #2f3e45;
  min-width: 160px;
  padding: 12px 16px 0px 0px;
  font:italic bold 20px Georgia, serif;
  color:#FFFFFF;
}

div.fastweb_div_dropdown>a {
  color:#FFFFFF;
  font:20px solid 隶书;
}

div.fastweb_div_dropdown_content >a {
  color:#FFFFFF;
  font:20px solid 隶书;
}


div.fastweb_div_dropdown_content {
  display: none;
  position: absolute;
  background-color: #2f3e45;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}
div.fastweb_div_dropdown:hover div.fastweb_div_dropdown_content {
  display: block;
  
}

div.fastweb_div_dropdown:hover div.fastweb_div_dropdown_content>a:hover{
	background-color:red;
}
