*{margin:0; padding:0;}
a{font:bold 14px/24px "微软雅黑", Verdana, Arial, Helvetica, sans-serif; color:green; text-decoration:none;}
a:hover{color:red;}

body
{
	background-color:#ffffff;
	overflow:auto;
	padding-top:0px;
	padding-left:0px;
}

div.fastweb_div_frame
{
	margin-top:0px;
	margin-left:0px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	min-width:1400px;
	background-color:#f5f5f5;/*#4a4aff;*/
}


div.fastweb_div_middle
{
	font:18px "宋体";
	text-align:center;
	width:1300px;
	margin-left:auto;
	margin-right:auto;
	/*background-color:#f5f5f5;/*#4a4aff;*/
	padding-top:16px;
	padding-bottom:16px;
	height:auto;
}

div.fastweb_new_module_title{
	overflow : auto;
	font-style : normal;
	background-color :#f5f5f5;
	font-size : 14px;
	font-weight : bold;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	background-color:#FFFFFF;
	border:none;
	height:auto;
	line-height:30px;
	vertical-align:middle;
	text-align:left;
	border-radius: 25px;
}
div.fastweb_new_module_title,div.fastweb_new_module_content{	
	width : 100% - 20px;
	margin-right : 0px;
}
div.fastweb_new_module_content{	
	background-color:#CAE1FF;
	box-shadow:0 0 30px 10px rgba(255,255,255,.5) inset;
	border-radius: 25px;
	text-align:left;
	padding-left: 10px;
	line-height:30px;
}


div.fastweb_div_dropdown {
  background-color: #2f3e45;
  min-width: 160px;
  padding: 12px 16px 0px 0px;
  font:italic bold 20px Georgia, serif;
  color:#FFFFFF;
}

div.fastweb_div_dropdown>a {
  color:#FFFFFF;
  font:20px solid 隶书;
}

div.fastweb_div_dropdown_content >a {
  color:#FFFFFF;
  font:20px solid 隶书;
}


div.fastweb_div_dropdown_content {
  display: none;
  position: absolute;
  background-color: #2f3e45;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}
div.fastweb_div_dropdown:hover div.fastweb_div_dropdown_content {
  display: block;
  
}

div.fastweb_div_dropdown:hover div.fastweb_div_dropdown_content>a:hover{
	background-color:red;
}


nav.fastweb_menu_h
{
	height: 35px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #2f3e45;
}
nav.fastweb_menu_h ul li
{
	list-style-type:none;
	float: left;
}
nav.fastweb_menu_h ul li a
{
	text-decoration: none;
	display: block;
	width: 130px;
	line-height: 35px;
	text-align: center;
	color:white;
	font-fimily:微软雅黑;
}
nav.fastweb_menu_h ul li ul li
{
	float: none;
}
nav.fastweb_menu_h ul li ul li:hover
{
	background-color:red;
}

nav.fastweb_menu_h ul li ul li a
{
	color:black;
}
nav.fastweb_menu_h ul li ul
{
	display: none;
	background-color: #2f3e45;
	margin: 0;
	padding: 0;
}
nav.fastweb_menu_h ul li:hover ul
{
	display: block;
}

nav.fastweb_menu_v
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #2f3e45;
	float: left;
}
nav.fastweb_menu_v ul li
{
	list-style-type:none;
	float: left;
}
nav.fastweb_menu_v ul li a
{
	text-decoration: none;
	display: block;
	width: 130px;
	line-height: 35px;
	text-align: center;
	color:white;
	font-fimily:微软雅黑;
}
nav.fastweb_menu_v ul li ul li
{
	float: none;
	line-height: 30px;
}
nav.fastweb_menu_v ul li ul li:hover
{
	background-color:red;
}

nav.fastweb_menu_v ul li ul li a
{
	color:black;
}
nav.fastweb_menu_v ul li ul
{
	display: none;
	background-color: #2f3e45;
	margin: 0;
	padding: 0;
}
nav.fastweb_menu_v ul li:hover ul
{
	display: block;
}



.fastweb_tab_container{
  width: 100%;
  height: 100%;
  margin: 100px auto;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.fastweb_tab_wrapper{
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #33344a;
}
.fastweb_tab_wrapper .fastweb_tab_radio{
  display: none;
}
.fastweb_tab_handler{
  position: relative;
  z-index: 2;
  display: block;
  float: left;
  height: 60px;
  padding: 0 40px;
  color: #717181;
  font-size: 16px;
  line-height: 60px;
  transition: .3s;
  transform: scale(.9);
}
.fastweb_tab_radio:checked + .fastweb_tab_handler{
  color: #fff;
  background-color: #e74c3c;
  transform: scale(1);
}
.fastweb_tab_radio:checked + .fastweb_tab_handler + .fastweb_tab_content{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.fastweb_tab_wrapper .fastweb_tab_content{
  visibility: hidden;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 30px;
  color: #999;
  font-size: 14px;
  line-height: 1.618em;
  background-color: #fff;
  opacity: 0;
  transition: transform .5s, opacity .7s;
  transform: translateY(20px);
}


.fastweb_tab_widget_title {
	font-size: 13px;
	font-weight: normal;
	color: #888888;
	padding: 20px 20px 0px;
}



.fastweb_tab_widget_tab{
	border:1px solid red;
}

.fastweb_tab_widget_tab .fastweb_tab_widget_title{
	font-size: 0;
}
.fastweb_tab_widget_tab .fastweb_tab_widget_box{
	margin:0 20px 20px;
	background:#F7F7F7;
	
}
.fastweb_tab_widget_tab .fastweb_tab_widget_title ul li{
	margin-left:0;
	width:30%;
	text-align:center;
	margin-right:1.3%;
	padding:8px 1%;
}
.fastweb_tab_widget_tab .fastweb_tab_widget_title ul li:hover{
	/*background:#F7F7F7;*/
	background-color:red;
}
.fastweb_tab_widget_tab .fastweb_tab_widget_title label{
	cursor:pointer;
	display:block;
	font-size:14px;
}
.fastweb_tab_widget_tab .fastweb_tab_widget_title ul li.active{
	/*background:#F7F7F7;*/
	background-color:gray;
}
.fastweb_tab_widget_tab input{
	display:none;
	background-color:red;
}
.fastweb_tab_widget_tab .fastweb_tab_widget_box ul{
	display:none;
	background-color:red;
}
#fastweb_tab_widget_tab1:checked ~ .fastweb_tab_widget_title .fastweb_tab_widget_tab1,#fastweb_tab_widget_tab2:checked ~ .fastweb_tab_widget_title .fastweb_tab_widget_tab2,#fastweb_tab_widget_tab3:checked ~ .fastweb_tab_widget_title .fastweb_tab_widget_tab3{
	background:#F7F7F7;
}
#fastweb_tab_widget_tab1:checked ~ .fastweb_tab_widget_box .fastweb_tab_widget_tab1_list,#fastweb_tab_widget_tab2:checked ~ .fastweb_tab_widget_box .fastweb_tab_widget_tab2_list,#fastweb_tab_widget_tab3:checked ~ .fastweb_tab_widget_box .fastweb_tab_widget_tab3_list{
	display:block;
}
.fastweb_tab_widget_box ul li a{
	padding-left: 20px;
}

.fastweb_tab_inline_ul {
	font-size:0;/* 所有浏览器 */
	*word-spacing:-1px;/* IE6、7 */
}
.fastweb_tab_inline_ul ul li{
	font-size: 12px;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align:top;
	display: inline-block;
	*display:inline;
	*zoom:1;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
	/* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
	.fastweb_tab_inline_ul{
	letter-spacing:-5px;/* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
	}
}



#fastweb_tab_box{
	width:100%;
	height:400px;
	margin:100px auto 0;
}
#fastweb_tab_box_nav{
	margin:0;
	padding:0;
	height:25px;
	line-height:24px;
	list-style:none;
}
#fastweb_tab_box_nav li{
	float:left;
	margin:0 3px;
	list-style:none;
	border:1px solid #999;
	border-bottom:none;
	height:24px;
	width:60px;
	text-align:center;
	background:#FFF;
}

#fastweb_tab_box_content{
	width:100%;
	height:400px;
	border:1px solid red;/*#999;*/
	font:bold 4em/273px "微软雅黑", Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	background:#FFF;
	overflow:hidden;
	margin-bottom:1px;
}
#fastweb_tab_box_tab1,#fastweb_tab_box_tab2,#fastweb_tab_box_tab3{
	width:100%;
	height:400px;
	display:block;
}